* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
}
.wrapper {
  display: flex;
  border: solid #ccc 2px;
  padding: 20px;
  gap: 15px;
}
.bricks, 
.places {
  display: grid;
  border: solid #fff 2px;
  border-radius: 10px;
  padding: 20px;
  gap: 5px;
}
.brick {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #eeafaf;
  height: 150px;
  width: 150px;
}

.square {
  
}
.cell {
  background-color: #fff;
  height: 150px;
  width: 150px;
}
.places {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2px;
}
.places-row {
  
}
.grid {
  height: 100%;
}
